### Set up imports

In [2]:
import pandas as pd

### Import csv file and store as a variable

In [ ]:
dirty_circulation_df = pd.read_csv("circulation.csv")
dirty_circulation_df.head()

### Review data types and remove null values

In [ ]:
#dirty_circulation_df.info() - 405 non-null count on address,city,zip
no_null_circulation_df = dirty_circulation_df.dropna()
no_null_circulation_df.info()

### Check for duplicates and remove

In [ ]:
no_null_circulation_df.duplicated().sort_values()

### Check for outliers. If any high or low outliers seem erroneous, remove them.

In [ ]:
(no_null_circulation_df.sort_values("YTD", ascending=False)).head()
#opted not to remove any rows since the highest values were not absurd and the highest value is for the largest library, which leads me to believe the data is accurate.

In [ ]:
(no_null_circulation_df.sort_values("YTD")).head()
# I did some digging on the Galewood-Mont Clare and Legler Regional branches, and the low outlier values are relevant to the story of Chicago libraries, so I didn't remove these low outliers
# Galewood-Mont Clare: https://www.chipublib.org/locations/30/, https://www.austinweeklynews.com/2017/09/11/galewood-montclare-residents-renew-push-for-library/?fbclid=IwAR3Fgs8kxMAS2I0PYxQkxtVaWgHsn-FxqOu0yANUeAC4iTpPOdN9vDk-dVw, https://blockclubchicago.org/2022/04/20/mars-chocolate-factory-closure-could-mean-a-new-library-gym-or-nature-center-for-west-side-neighborhood/
# Legler Regional: https://www.chipublib.org/news/renovated-legler-regional-reopens-celebrates-100th-anniversary/, https://chicago.curbed.com/2019/2/7/18215691/chicago-public-library-leglar-branch-regional-investement

### Export cleaned data to CSV

In [ ]:
no_null_circulation_df.to_csv("chipublib_circulation.csv", encoding='utf-8', index=False)

### Repeat process with other data categories

In [ ]:
dirty_computer_sessions_df = pd.read_csv("computer_sessions.csv")
dirty_computer_sessions_df.head()

In [ ]:
dirty_computer_sessions_df.info()
#no nulls to remove

In [ ]:
dirty_computer_sessions_df.duplicated().sort_values()
#no dupes to remove

In [ ]:
(dirty_computer_sessions_df.sort_values("YTD", ascending=False)).head()
#high outliers do not seem inaccurate due to the size of the branches appearing in the top 5 and the top value being from 2019

In [ ]:
(dirty_computer_sessions_df.sort_values("YTD")).head()
#this branch has been closed since 2020 and did not have a computer area in 2019, so I am removing rows 366, 123, 285, 223, 27
no_outliers_computer_sessions_df = dirty_computer_sessions_df.drop([366, 123, 285, 223, 27], axis=0)
(no_outliers_computer_sessions_df.sort_values("YTD")).head()
#remaining low outliers may have reasons, like the Legler Regional branch remodel and covid spikes in early 2021

In [ ]:
no_outliers_computer_sessions_df.to_csv("chipublib_computer_sessions.csv", encoding='utf-8', index=False)

In [3]:
dirty_visitors_df = pd.read_csv("visitors.csv")
dirty_visitors_df.head()

,BRANCH,ADDRESS,CITY,ZIP,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,YTD,YEAR
0,Albany Park,3401 W. Foster Ave.,Chicago,60625,10405,10594,11498,10867,10395,11171,11532,11387,11534,11677,9741,9454,130255,2019
1,Altgeld,13281 S. Corliss Ave.,Chicago,60827,2083,2358,2380,2127,2247,2484,2578,2512,2462,2678,2014,2273,28196,2019
2,Archer Heights,5055 S. Archer Ave.,Chicago,60632,6378,7521,7809,7824,7162,6952,7835,7536,6908,8219,6679,5770,86593,2019
3,Austin,5615 W. Race Ave.,Chicago,60644,4878,5391,5655,5378,5178,5895,7399,7962,6299,7604,8128,7713,77480,2019
4,Austin-Irving,6100 W. Irving Park Rd.,Chicago,60634,8003,8879,9627,8853,9172,9897,10441,10110,9031,10054,8060,6953,109080,2019

In [4]:
dirty_visitors_df.info()
#no nulls to remove

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BRANCH     403 non-null    object
 1   ADDRESS    403 non-null    object
 2   CITY       403 non-null    object
 3   ZIP        403 non-null    int64
 4   JANUARY    403 non-null    int64
 5   FEBRUARY   403 non-null    int64
 6   MARCH      403 non-null    int64
 7   APRIL      403 non-null    int64
 8   MAY        403 non-null    int64
 9   JUNE       403 non-null    int64
 10  JULY       403 non-null    int64
 11  AUGUST     403 non-null    int64
 12  SEPTEMBER  403 non-null    int64
 13  OCTOBER    403 non-null    int64
 14  NOVEMBER   403 non-null    int64
 15  DECEMBER   403 non-null    int64
 16  YTD        403 non-null    int64
 17  YEAR       403 non-null    int64
dtypes: int64(15), object(3)
memory usage: 56.8+ KB

In [5]:
dirty_visitors_df.duplicated().sort_values()
#no dupes to remove

0      False
274    False
273    False
272    False
271    False
       ...
129    False
128    False
127    False
137    False
402    False
Length: 403, dtype: bool

In [6]:
(dirty_visitors_df.sort_values("YTD", ascending=False)).head()
#high outlier is from a large branch in 2019, so I will leave it as it is relevant to the data story

,BRANCH,ADDRESS,CITY,ZIP,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,YTD,YEAR
31,Harold Washtington Library Center,400 S. State St.,Chicago,60605,103099,103013,121131,130849,114792,116673,119738,116332,107200,128546,102895,141696,1405964,2019
258,Harold Washtington Library Center,400 S. State St.,Chicago,60605,39287,50081,64622,64754,60950,63316,71029,65825,61361,67126,50053,28348,686752,2022
154,Harold Washtington Library Center,400 S. State St.,Chicago,60605,104255,102202,75066,0,0,23673,36325,35144,44570,51962,40119,41058,554374,2020
167,Harold Washtington Library Center,400 S. State St.,Chicago,60605,39287,36109,43918,38621,24131,49671,52519,43215,52795,57025,54392,52268,543951,2021
65,Sulzer Regional Library,4455 N. Lincoln Ave.,Chicago,60625,24368,23998,32223,30983,37357,29641,33583,32266,29043,29043,30883,25256,358644,2019

In [7]:
(dirty_visitors_df.sort_values("YTD")).head()
#Galewood-Mont Clare resources in previous cleanings
#Merlo branch closed for reno: https://www.44thward.org/development/major-development-projects/merlo-library-renovation-and-moderniztion/
#Douglass branch closed for reno, but still having mold issues: https://blockclubchicago.org/2019/11/25/after-years-of-neglect-north-lawndales-new-and-improved-library-is-open-thanks-to-community-members-who-fought-for-it/, https://blockclubchicago.org/2022/03/01/the-city-spent-millions-to-fix-a-west-side-library-but-just-3-years-later-water-damage-soggy-books-and-mold-return/

,BRANCH,ADDRESS,CITY,ZIP,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,YTD,YEAR
226,Galewood-Mont Clare,6871 W. Belden Ave.,Chicago,60707,0,0,0,0,0,0,0,0,0,0,0,0,0,2021
241,Galewood-Mont Clare,6871 W. Belden Ave.,Chicago,60707,0,0,0,0,0,0,0,0,0,0,0,0,0,2022
151,Merlo,644 W. Belmont Ave.,Chicago,60657,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
22,Douglass,3353 W. 13th St.,Chicago,60623,0,0,0,0,0,0,0,0,0,0,0,0,0,2019
364,Galewood-Mont Clare,6871 W. Belden Ave.,Chicago,60707,0,0,0,0,0,0,0,0,0,0,0,0,0,2023

In [8]:
dirty_visitors_df.to_csv("chipublib_visitors.csv", encoding='utf-8', index=False)